<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxh.site.mapper.SiteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zxh.site.entity.Site">
        <result column="zid" property="zid" />
        <result column="uid" property="uid" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="update_time" property="updateTime" />
        <result column="operator" property="operator" />
        <result column="is_delete" property="isDelete" />
        <result column="seller_code" property="sellerCode" />
        <result column="gongdi_code" property="gongdiCode" />
        <result column="gongdi_title" property="gongdiTitle" />
        <result column="building_name" property="buildingName" />
        <result column="building_area" property="buildingArea" />
        <result column="house_type" property="houseType" />
        <result column="renovation_costs" property="renovationCosts" />
        <result column="house_style" property="houseStyle" />
        <result column="cover_img" property="coverImg" />
        <result column="gongdi_description" property="gongdiDescription" />
        <result column="gongdi_stage" property="gongdiStage" />
        <result column="gongdi_from_type" property="gongdiFromType" />
        <result column="gongdi_from_code" property="gongdiFromCode" />
        <result column="gongdi_order" property="gongdiOrder" />
        <result column="gongdi_status" property="gongdiStatus" />
        <result column="visit_num" property="visitNum" />
        <result column="head_keywords" property="headKeywords" />
        <result column="head_description" property="headDescription" />
        <result column="vr_link" property="vrLink" />
        <result column="area_code" property="areaCode" />
        <result column="addr" property="addr" />
        <result column="lng" property="lng" />
        <result column="lat" property="lat" />
        <result column="building_code" property="buildingCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        zid,
        uid,
        create_time,
        creator,
        update_time,
        operator,
        is_delete,
        seller_code,
        gongdi_code, gongdi_title, building_name, building_area, house_type, renovation_costs,
        house_style, cover_img, gongdi_description, gongdi_stage, gongdi_from_type, gongdi_from_code,
        gongdi_order, gongdi_status, visit_num, head_keywords, head_description, vr_link, area_code, addr,
        lng, lat, building_code
    </sql>
    <select id="queryByLngLat" resultType="com.zxh.site.vo.SiteVo" parameterType="java.util.Map">
        select
        building_name,
        lng,
        lat,
        (
        6371 * ACOS(
        COS(RADIANS(#{lat})) * COS(RADIANS(lat)) * COS(RADIANS(lng) - RADIANS(#{lng})) + SIN(RADIANS(#{lat})) * SIN(RADIANS(lat))
        )
        ) AS distance
        FROM saas_site

        ORDER BY distance ASC
    </select>
</mapper>
